<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Lot Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="menu-bar">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="menu-content">
            <a href="parking-lot.html">Parking Lot</a>
            <a href="parking-lots.html">Parking Lots</a>
            <a href="vehicle-entry.html">Vehicle Entry</a>
            <a href="vehicle-exit.html">Vehicle Exit</a>
            <a href="index.html" onclick="logout()">Logout</a>
        </div>
    </div>
    <br>
    <div class="container">
        <h1>Parking Lot Details</h1>
        <h2 id="lot-name"></h2>
        <h3>Available Spaces:</h3>
        <ul id="available-spaces"></ul>
        <button onclick="vehicleEntry()">Register Vehicle Entry</button>
    </div>
    <script src="script.js"></script>
    
</body>
</html>
